APP_NAME="MCI Educational Group"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://mciedu.in
APP_TIMEZONE=Asia/Kolkata

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="mcieducationalgroup@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_NAME="MCI Administrator"
ADMIN_EMAIL="mcieducationalgroup@gmail.com"
ADMIN_PASSWORD=
