/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/public/.user.ini
/public/php.ini
/storage/*.key
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.env
/.env.backup
/.env.save
/.env.save.*
.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.vscode
/.DS_Store
Thumbs.db
